{% extends "base.html" %}
      <!-- body start -->
{% block content %}
<div class="container">
      <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-4">
                  <h3 class="alert alert-light border rounded text-center">Login </h3>
                  <form action="/login" method="POST">
                        {% csrf_token %}
                        <!-- Validation error message -->
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                              {{error}}      
                        </div>
                        {% endif %}
                        <div class="form-group">
                              <label for="">Email address</label>
                              <input type="email" class="form-control" name="email" id="" value="{{values.email}}" placeholder="eg.email@example.com" >
                        </div>
                        <div class="form-group">
                              <label for="">Password</label>
                              <input type="password" class="form-control form-control-sm" name="password" id="" placeholder="*********">
                        </div>
                        
                        
                        <div class="form-group">
                              <input type="submit" class="btn btn-sm btn-info" value="Login">
                        </div>
                  </form>
            </div>
      </div>
</div>

{% endblock %}